---
import Layout from '../components/layout.astro';
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}


</style>

<Layout
  title="Calendar Comparison"
  description="This is a simple tool to allow quick comparison of multiple Google Calendars  to look for overlap and gaps"
  home
>

Some basic first level text goes here

  <main class="steps">
    <section class="step">
      <h2 class="stepHeading">Privacy</h2>
      <p>
        Link to our privacy policy</strong>
      </p>
      <a href="/privacy" class="button">
        Learn more <span class="sr-only">privacy</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Terms</h2>
      <p>
        See pur terms & conditions!</strong>
      </p>
      <a href="/terms" class="button">
        See our
        <span class="sr-only">Terms and Conditions</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Netlify Functions</h2>
      <p>
        <strong>Serverless functions are superpowers for web developers!</strong>
        Securely handle server-like requirements at any scale with no
        provisioning, scaling, or ops overhead.
      </p>
      <a href="/functions" class="button">
      Learn more
      <span class="sr-only">about Netlify Functions</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Netlify Forms</h2>
      <p>
        Handle user input with a single line of code. Netlify Forms allow
        any HTML form to
        <strong>
            accept submissions, send notification emails, and trigger custom events.
        </strong>
      </p>
      <a href="/netlify-forms" class="button">
        Learn more <span class="sr-only">about Netlify Forms</span>
      </a>
    </section>
  </main>
</Layout>
