---
import Layout from '../components/layout.astro';
---

<Layout
  title="Privacy Policy"
  description="This is the privacy policy for this test app"
  home
>
<main>
    <h2>Privacy policy</h2>
</main>
</Layout>
