---
import Layout from '../components/layout.astro';
---

<Layout
  title="Terms & Conditions"
  description="This is the Terms & Conditions for this test app"
  home
>
<main>
    <h2>Terms & Conditions</h2>
</main>
</Layout>
